@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-regular-400.woff2) format("woff2");
  font-display: swap;
}
/*../fonts/pt-sans-bold.woff2  ../fonts/pt-sans-regular.woff2*/


body{
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #F2F2F2;
}

/*Шапка*/
.page-header{
  background-color: #FFFFFF;
}

.nаvigation-link{
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.nаvigation-user .button{
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
}
/*Шапка*/

/*Главное содержание*/
/*Баннер*/
.main-index{
  background-color: #FFFFFF;
}
/*Баннер*/

/*Весь блок main*/
.advantages-main-title,
.services-main-title,
.hotel-search-main-title,
.subscribe-main-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.subtitle{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.advantages-title.real-town,
.advantages-description-item.real-town {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-title.devils-bridge,
.advantages-description-item.devils-bridge {
  color: #FFFFFF;
  background-color: #82B3D3;
}
.advantages-title,.services-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.advantages-description-item,.services-description{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}
/*Преимущества*/

/*Услуги*/
/*Услуги*/

/*Поиск гостиницы*/
.hotel-search-button{
  background-color: #756157;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}
/*Поиск гостиницы*/

/*Подписка на рассылку*/
.subscribe{
  background-color: #83B3D3;
  background-image: url(../images/decorative-elements/subscribe-fon.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.field-email{
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}
.subscribe-button{
  background-color: #82B3D3;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}
.subscribe-title,
.subscribe-description{
  color: #FFFFFF;
}

/*Подписка на рассылку*/
.pagination-link{
  background-color: #82B3D3;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
}

.pagination-current,.pagination-item-points{
  color: #000000;
  background-color: #F2F2F2;
}
/*Главное содержание*/

/*Подвал*/
.page-footer{
  background-color: #FFFFFF;
}
.contacts-phone{
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
}
.footer-logo{
  background-repeat: no-repeat;
}
/*Подвал*/


/*Каталог*/
.main-inner{
  background-color: #FFFFFF;
}
.header-catalog{
  background-color: #83B3D3;
  background-image: url(../images/decorative-elements/catalog-fon.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.inner-header-title{
  color: #FFFFFF;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-transform: none;
  text-align: left;
}
.breadcrumbs-link{
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
}
legend{
  color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.catalog-filter-list{
  color: #FFFFFF;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.apply-button{
  background-color: #82B3D3;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}
.reset-button{
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.search-result-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: none;
  text-align: left;
}
select{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
.card-hotel-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
.card-type-hotel,
.card-price,.rating-star{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
}
.show-more{
  background-color: #756157;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.card-button-chosen{
  background-color: #82B3D3;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border:none;
}
.card-button-chosen-added{
  background-color: #7DB54F;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border:none;
}
.rating-result{
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
}
.subscribe-title-catalog{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}
.subscribe-description-catalog{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}
/*Каталог*/
